.version.index /* version checker */
{
	color: #00000A;
	background-color: #AA6960;
}

.html
{
	background-color: #000000;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#000000 ,#FFFFFF 100%);
	background: linear-gradient(to right,#000000 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FFFFFFFF', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2154px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 182px;
	width: 0.01px;
}

#u195
{
	z-index: 51;
	height: 160px;
	-pie-box-shadow: 0px 0px 5px 1px #FDF8AC;
	box-shadow: 0px 0px 5px rgba(252,238,33,0.37),0px 0px 5px rgba(252,238,33,0.37);
	background: -webkit-gradient(linear, left center, right center, from(#490026),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#490026 ,#000000 100%);
	background: linear-gradient(to right,#490026 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF490026, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF490026', endColorstr='#FF000000', GradientType=1)";
	position: fixed;
	top: 0px;
	background-size: 100% auto;
}

#u195-bw
{
	z-index: 51;
}

#u211-8
{
	z-index: 52;
	min-height: 128px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 23px;
}

#u212
{
	z-index: 58;
	width: 110px;
	background-color: transparent;
}

#u212_img
{
	vertical-align: bottom;
}

#u221
{
	margin-top: 10px;
	margin-bottom: -10px;
}

#u220-8
{
	z-index: 63;
	width: 326px;
	min-height: 37px;
	background-color: transparent;
}

#u220-3
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

#u220,#u220-5
{
	color: #FFFFFF;
}

#u211-8-bw
{
	z-index: 52;
}

#u110
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 713px;
	position: relative;
}

#buttonu153
{
	z-index: 3;
	width: 572px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 194px;
	margin-top: 22px;
	position: relative;
}

#buttonu153:hover
{
	background-color: #310019;
	width: 572px;
	min-height: 0px;
	margin: 22px 0px 0px 194px;
}

#buttonu153.ButtonSelected
{
	background-color: transparent;
	width: 572px;
	min-height: 0px;
	margin: 22px 0px 0px 194px;
}

#u159
{
	z-index: 4;
	width: 572px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	padding-bottom: 113px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/livohub-slider.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu153:hover #u159
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: transparent;
	width: 572px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u154-6
{
	z-index: 5;
	width: 539px;
	min-height: 156px;
	background-color: transparent;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 16px;
}

#buttonu153:hover #u154-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 539px;
	margin: 33px -10000px 0px 0px;
}

#buttonu153:hover #u154-6 p,#buttonu153:hover #u154-6 span
{
	padding-top: 30px;
}

#u155
{
	margin-top: 27px;
	margin-bottom: -27px;
}

#u156
{
	z-index: 12;
	height: 47px;
	width: 444px;
	background: url("../images/u156_states.png") no-repeat 0px 0px;
}

#u156:hover #u156_states
{
	height: 47px;
	width: 444px;
	background: url("../images/u156_states-r.png") no-repeat 0px 0px;
}

#buttonu179
{
	z-index: 15;
	width: 572px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 194px;
	margin-top: 110px;
	position: relative;
}

#buttonu179:hover
{
	background-color: #310019;
	width: 572px;
	min-height: 0px;
	margin: 110px 0px 0px 194px;
}

#buttonu179.ButtonSelected
{
	background-color: transparent;
	width: 572px;
	min-height: 0px;
	margin: 110px 0px 0px 194px;
}

#u183
{
	z-index: 16;
	width: 572px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	padding-bottom: 113px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/livohub-slider.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu179:hover #u183
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: transparent;
	width: 572px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u180-6
{
	z-index: 17;
	width: 539px;
	min-height: 156px;
	background-color: transparent;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 16px;
}

#buttonu179:hover #u180-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 539px;
	margin: 33px -10000px 0px 0px;
}

#buttonu179:hover #u180-6 p,#buttonu179:hover #u180-6 span
{
	padding-top: 30px;
}

#u181
{
	margin-top: 27px;
	margin-bottom: -27px;
}

#u182
{
	z-index: 24;
	height: 47px;
	width: 444px;
	background: url("../images/u182_states.png") no-repeat 0px 0px;
}

#u182:hover #u182_states
{
	height: 47px;
	width: 444px;
	background: url("../images/u182_states-r.png") no-repeat 0px 0px;
}

#pu306
{
	width: 0.01px;
	margin-left: -159px;
	margin-top: 96px;
}

#u306
{
	z-index: 90;
	width: 33px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#buttonu189
{
	z-index: 39;
	width: 572px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 353px;
}

#buttonu189:hover
{
	background-color: #310019;
	width: 572px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu189.ButtonSelected
{
	background-color: transparent;
	width: 572px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u193
{
	z-index: 40;
	width: 572px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	padding-bottom: 113px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/livohub-slider.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu189:hover #u193
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: transparent;
	width: 572px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u190-6
{
	z-index: 41;
	width: 539px;
	min-height: 156px;
	background-color: transparent;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 16px;
}

#buttonu189:hover #u190-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 539px;
	margin: 33px -10000px 0px 0px;
}

#buttonu189:hover #u190-6 p,#buttonu189:hover #u190-6 span
{
	padding-top: 30px;
}

#u191
{
	margin-top: 27px;
	margin-bottom: -27px;
}

#u192
{
	z-index: 48;
	height: 47px;
	width: 444px;
	background: url("../images/u192_states.png") no-repeat 0px 0px;
}

#u192:hover #u192_states
{
	height: 47px;
	width: 444px;
	background: url("../images/u192_states-r.png") no-repeat 0px 0px;
}

#buttonu184
{
	z-index: 27;
	width: 572px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 194px;
	margin-top: 131px;
	position: relative;
}

#buttonu184:hover
{
	background-color: #310019;
	width: 572px;
	min-height: 0px;
	margin: 131px 0px 0px 194px;
}

#buttonu184.ButtonSelected
{
	background-color: transparent;
	width: 572px;
	min-height: 0px;
	margin: 131px 0px 0px 194px;
}

#u188
{
	z-index: 28;
	width: 572px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	padding-bottom: 113px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/livohub-slider.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu184:hover #u188
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: transparent;
	width: 572px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu153.ButtonSelected #u159,#buttonu179.ButtonSelected #u183,#buttonu189.ButtonSelected #u193,#buttonu184.ButtonSelected #u188
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 572px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/livohub-slider.jpg") no-repeat center center;
	background-size: cover;
}

#u185-6
{
	z-index: 29;
	width: 539px;
	min-height: 156px;
	background-color: transparent;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 16px;
}

#buttonu184:hover #u185-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 539px;
	margin: 33px -10000px 0px 0px;
}

#buttonu153.ButtonSelected #u154-6,#buttonu179.ButtonSelected #u180-6,#buttonu189.ButtonSelected #u190-6,#buttonu184.ButtonSelected #u185-6
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 539px;
	margin: 33px -10000px 0px 0px;
}

#buttonu184:hover #u185-6 p,#buttonu184:hover #u185-6 span
{
	padding-top: 30px;
}

#buttonu153.ButtonSelected #u154-6 p,#buttonu153.ButtonSelected #u154-6 span,#buttonu179.ButtonSelected #u180-6 p,#buttonu179.ButtonSelected #u180-6 span,#buttonu189.ButtonSelected #u190-6 p,#buttonu189.ButtonSelected #u190-6 span,#buttonu184.ButtonSelected #u185-6 p,#buttonu184.ButtonSelected #u185-6 span
{
	padding-top: 50px;
}

#u211,#u154,#u180,#u190,#u185
{
	font-size: 1px;
	line-height: 0px;
}

#u186
{
	margin-top: 27px;
	margin-bottom: -27px;
}

#u155:hover,#u181:hover,#u191:hover,#u186:hover
{
	min-height: 0px;
	margin: 27px 0px -27px;
}

#u187
{
	z-index: 36;
	height: 47px;
	width: 444px;
	background: url("../images/u187_states.png") no-repeat 0px 0px;
}

#u156_states,#u182_states,#u192_states,#u187_states
{
	min-height: 47px;
	min-width: 444px;
	vertical-align: top;
}

#u187:hover #u187_states
{
	height: 47px;
	width: 444px;
	background: url("../images/u187_states-r.png") no-repeat 0px 0px;
}

#u155 #u156:hover #u156_states,#u181 #u182:hover #u182_states,#u191 #u192:hover #u192_states,#u186 #u187:hover #u187_states
{
	height: 47px;
	width: 444px;
}

#u302-18
{
	z-index: 72;
	min-height: 208px;
	background-color: #430022;
	color: #FFFFFF;
	text-align: center;
}

#u302-10
{
	color: #430022;
}

#u302,#u302-3,#u302-5,#u302-6,#u302-8,#u302-11,#u302-12
{
	font-size: 18px;
	line-height: 22px;
}

#u302-14,#u302-16
{
	font-size: 14px;
}

#u302-18-bw
{
	z-index: 72;
	min-height: 208px;
	margin-top: 152px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

